@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --m: 20.5;
  --wavefreq: calc(100ms * var(--m));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  cursor: url('/img/cursor.png') 16 16, auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button,
.custom-pointer {
  cursor: url('/img/cursor_link.png') 16 16, auto;
}

/* SLIDER RANGE */

.slider-range {
  -webkit-appearance: none;
  appearance: none;
  background: #f1e7a9;
  height: 10px;
  cursor: url('/img/cursor_link.png'), auto;
}

.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.slider-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

@keyframes blob {
  0% {
    transform: rotate(0.3deg) scale(1);
  }
  100% {
    transform: rotate(-0.3deg) scale(0.99);
  }
}

@keyframes blob2 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.button-bg {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    #07b8ae 10% 20%,
    transparent 20% 30%,
    #07b8ae 30% 40%,
    transparent 40% 50%,
    #07b8ae 50% 60%,
    transparent 60% 70%,
    #07b8ae 70% 80%,
    transparent 80% 90%,
    #07b8ae 90% 100%
  );
  background-size: 94px;
}

.ac-button:hover .button-bg {
  animation: background 7s linear infinite;
}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}
