@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --m: 20.5;
  --wavefreq: calc(100ms * var(--m));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  cursor: url('/img/cursor.png'), auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  cursor: url('/img/cursor_link.png'), auto;
}

/* SLIDER RANGE */

.slider-range {
  -webkit-appearance: none;
  appearance: none;
  background: #f1e7a9;
  height: 10px;
  cursor: url('/img/cursor_link.png'), auto;
}

.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

.slider-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}

/* WAVE */

.wave-container {
  & .wave-bar {
    display: inline-block;
    width: 4px;
    height: 27px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #fff;
    animation: beat1 2s infinite;
    transform-origin: 0 100%;
    transform: scaleY(0.1);

    &:nth-child(2n) {
      animation-name: beat2;
      animation-delay: 0.2s;
      background-color: #eee;
    }
    &:nth-child(3n) {
      animation-name: beat3;
      animation-delay: 0.5s;
      animation-duration: 2s;
      /* background-color: #ccc; */
    }
    &:nth-child(4n) {
      animation-name: beat2;
      animation-delay: 0.4s;
      animation-duration: 2.4s;
    }
    &:nth-child(5n) {
      animation-delay: 0.6s;
    }
    &:nth-child(6n) {
      animation-delay: 0.2s;
      background-color: #ddd;
    }
  }
}

@keyframes beat1 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.7);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes beat2 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes beat3 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(0);
  }
}
